@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_fonts.scss";
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: "Muli", sans-serif;
  color: $text-color;
  max-width: 1000px;
  height: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  margin: auto;
}

main {
  max-width: 960px;
}

a,
a:visited {
  text-decoration: none;
  color: $accent-color;
}

a:hover,
a:active {
  text-decoration: underline;
  color: $secondary-accent-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Play", sans-serif;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4,
h5,
h6 {
  font-size: 1em;
}

button {
  background-image: linear-gradient(to right, #d83f87, rgb(126, 102, 163));
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #2a1b3d;
  font-size: 2em;
  font-family: "Play", sans-serif;
}

hr {
  display: block;
  background-image: url(/img/waveform.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  border: 0;
  margin-bottom: 70px;
  margin-top: 70px;
  width: 100%;
}

em {
  font-style: normal;
  color: #bfb3d1;
}

p {
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.blog-list {
  li {
    display: flex;
    width: 100%;

    h4 {
      font-size: 2rem;
      margin: 0;
    }

    img {
      min-height:100px;
      max-height: 200px;
      min-width: 200px;
      max-width: 200px;
      margin-right: 2rem;
      object-fit: cover;
    }
    .date {

      line-height: 1rem;

      margin: 0;
      
      time {

        display: inline-block;

      }
    }
  }
}

