@tailwind base;
@tailwind components;
@tailwind utilities;

@import "_fonts.scss";
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: "Muli", sans-serif;
  color: $text-color;
  max-width: 1000px;
  height: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  margin: auto;
}

main {
  max-width: 960px;
}

a,
a:visited {
  text-decoration: none;
  color: $accent-color;
}

a:hover,
a:active {
  text-decoration: underline;
  color: $secondary-accent-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Play", sans-serif;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4,
h5,
h6 {
  font-size: 1em;
}

button {
  background-image: linear-gradient(to right, #d83f87, rgb(126, 102, 163));
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #2a1b3d;
  font-size: 2em;
  font-family: "Play", sans-serif;
}

hr {
  display: block;
  background-image: url(/img/waveform.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  border: 0;
  margin-bottom: 70px;
  margin-top: 70px;
  width: 100%;
}

em {
  font-style: normal;
  color: #bfb3d1;
}

p {
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.blog-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: calc(50% - 1rem);

    * {
      text-decoration: none;
      transition: 0.2s ease;
    }

    &:first-child {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      text-align: center;

      img {
        width: 100%;
      }

      .title {
        font-size: 2.369rem;
      }
    }
    img {
      margin-bottom: 0.5rem;
      border-radius: 12px;
      height: 300px;
      object-fit: cover;
    }

    a {
      display: block;
    }
  }

  .title {
    margin: 0;
    line-height: 1;
  }

  .date {
    margin: 0;
    color: rgb(var(--gray));
  }

  li a:hover h4,
  li a:hover .date {
    color: rgb(var(--accent));
  }
  a:hover img {
    box-shadow: var(--box-shadow);
  }
}

@media (max-width: 720px) {
  ul.blog-list {
    gap: 0.5em;
  }
  ul li {
    width: 100%;
    text-align: center;
  }
  ul li:first-child {
    margin-bottom: 0;
  }
  ul li:first-child .title {
    font-size: 1.563em;
  }
}
