---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About Me"
  description="Phil Giammattei's Exerience and Interests"
>
  <h2><em>Hi! My name is Phil Giammattei.</em></h2>
  <img src="/img/phil-tiger-pajamas.jpeg" alt="a picture of me" />
  <h2>That's pronounced</h2>
  <img src="/img/ghee.png" alt="ghee a MĀ tee" />

  <h2>Experience</h2>
  <p>
    Currently I am an Infrastructure Engineer at PNC, where I build out new
    features for their Continuous Delivery Pipeline. My work helps thousands of
    software teams deploy their code, and it’s taught me a lot about
    containerization, standardization, and automation at an enterprise scale. I
    especially like writing Groovy code, which is the language that should have
    been called “Java Script,” if you ask me.
  </p>

  <p>
    Simultaneously, I’m returning to my roots as a web developer, making
    intensely handcrafted and personal web sites for myself and for clients, as
    part of the still-ramping-up <a href="https://tigerpajamas.com"
      >Tiger Pajamas Web Site Company</a
    >, along with my good friends
    <a href="https://ashleymcquaid.com">Ashley</a> and <a
      href="https://taalumot.space">Jon</a
    >. This web site is a result of design and values discussions that I’ve had
    with my colleagues, and represents a big step toward making my online
    identity more embodied and unique.
  </p>

  <p>
    Prior to my work at PNC I was a React-on-Rails developer at
    <a href="https://inventables.com">Inventables</a>, a CNC company with deep
    inroads in the consumer and small business space, improve their
    <a href="https://www.inventables.com/pages/easel">Easel</a> in-browser design/CAD/CAM
    software and helped break ground on their <a
      href="https://www.inventables.com/pages/easel-cabinetmaker"
      >Easel Cabinetmaker</a
    > product for professional cabinetmakers. I had a blast in this fast-paced environment,
    constantly exploring the space between software and physical objects and gaining
    a solid understanding of Ruby backend architecture and React state management.
  </p>

  <p>
    Before that, I was a UI Engineer for <a href="https://clarivate.com"
      >Clarivate</a
    >, a large company with many products serving important niches in the
    Information Economy. I served on an “internal consulting” team of UI
    experts, assisting in UI overhauls of legacy apps and drove initial
    development on their <a
      href="https://clarivate.com/products/ip-intelligence/assess-brand-risk-from-every-angle/"
      >Brand Landscape Analyzer</a
    >
    product. Working heavily with Angular, Gatsby, and Material components, I led
    efforts to inculcate a culture of software best practices, including code review,
    pair programming, and <a
      href="https://en.wikipedia.org/wiki/Design_by_contractContract-Driven
    Development"
      >Contract-Driven Development</a
    >.
  </p>

  <p>
    Prior to Clarivate I was at PNC in a different stint, doing Angular and
    Spring development for their <a
      href="https://www.pnc.com/en/corporate-and-institutional/asset-management-group/investment-office.html"
      >Asset Management Group</a
    >
    division. My team broke ground on a content-based microservice for their wealth
    management app that displayed external data with JavaScript-based visualizations.
  </p>

  <p>
    That was my first job after attending the <a
      href="https://www.techelevator.com/">Tech Elevator</a
    > coding boot camp. Up until then I was the Operations Manager for <a
      href="https://kerfcase.com">KerfCase</a
    >, a luxury E-Commerce shop that hand-makes phone cases machined from blocks
    of wood. Along with overseeing production, order fulfillment, and customer
    service, one of my responsibilities was maintaining and enhancing their
    site, which is built on Shopify and constitutes the company’s sole sales
    channel. I learned a lot about nitty-gritty web development here, picking up
    jQuery and the Liquid template syntax Shopify uses, along with pulling off
    some very gnarly CSS hacks to get everything looking good. I write more
    about this experience <a href="/projects/kerfcase">here</a>.
  </p>

  <p>
    Before that, I did a lot of tech-adjacent things for a lot of tech-centered
    companies, like sales for Oracle, data analysis at Google, and all-around
    helpful presence at the Apple Store.
  </p>

  <p>
    During undergrad, I bounced around schools and majors like a pinball,
    eventually being launched from the University of Pittsburgh with a Religious
    Studies degree, with many non-applicable credit hours sunk into computer
    science and music courses. I also learned some Spanish.
  </p>

  <h2>Skills and Interests</h2>
  <p>
    My eclectic education and work history is difficult to form a coherent story
    from. Never content to commit myself to a worn path, I have consistently
    prized versatility over virtuosity and continue that tradition as a
    generalist software engineer with competencies in design, business, and
    support. I wouldn’t have it any other way.
  </p>

  <p>
    Part of the fun of software is getting to Automate The Boring Parts, and
    DevOps is such a fun practice ground for automation at scale. It’s very fun
    to put man hours or dollar amounts to the work you do, because it adds up
    quickly, and there’s always room for improvement. My work in large
    enterprise infrastructure scratches an itch to make things more efficient.
  </p>

  <p>
    Paradoxically, this work has heightened my awareness of what we lose when we
    automate and scale too aggressively or imprecisely, and most of my free time
    on the computer is spent talking and working with people who are thinking
    about how to revitalize online spaces, away from centralized services and
    platforms and on small web sites that are owned by a single person or a
    trusted group. The #indieweb movement is growing on places like Mastodon,
    and it’s a lot of fun to go on internet safaris to people’s little patches
    of web like it’s the 90s again. I hope that this is a fun stop for some of
    you!
  </p>

  <p>
    As generative AI invades the world, I’m experimenting with its utility as a
    pair programming buddy, and looking on with amusement at failed attempts to
    use it to replace genuine human creativity. One reason I spent a lot of time
    on this site was that I wanted to make something that no machine ever could.
  </p>

  <h2>Personal Life</h2>
  <p>I live in Pittsburgh with my wife and daughter and two cats.</p>

  <p>
    I play bass for a band called <a href="https://badcuster.net">Bad Custer</a>
    and occasionally <a href="https://zagways.org">podcast</a> with my friend Jesse.
  </p>
  <style>
    img {
      max-width: 600px;
      width: 100%;
      margin: auto;
      margin-bottom: 4rem;
      border-radius: 1rem;
    }

    p {
      text-align: left;
    }
  </style>
</BaseLayout>
