---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About Me"
  description="Phil Giammattei's Exerience and Interests"
>
  <h2><em>Hi! My name is Phil Giammattei.</em></h2>
  <img src="/img/phil-tiger-pajamas.jpeg" alt="a picture of me" />
  <h2>That's pronounced</h2>
  <img src="/img/ghee.png" alt="ghee a MĀ tee" />
  <h2>I live in Pittsburgh with my wife and daughter and two cats.</h2>
</BaseLayout>
