---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="intro">
    <h2>Hi there! I'm <em>Phil.</em></h2>
    <hr />
    <h3>
      I'm a versatile and curious software engineer, and I make <a
        href="https://tigerpajamas.com"
        target="_blank">cool web sites</a
      >.
    </h3>
    <a href="mailto:phil@giammattei.co">
      <button type="button" class="m-10">Let's talk.</button></a
    >
  </div>

  <h2>Projects:</h2>

  <hr />
  <div class="recentblog">
    <h2>Most Recent Blog Post</h2>
  </div>
</BaseLayout>
