---
const today = new Date();
---

<footer>
  <div class="socialbuttons">
    <a href="https://www.linkedin.com/in/philgiammattei/" target="_blank">
      <img src="img/linkedin-logo.png" alt="linkedin: Phil Giammattei" />
    </a>
    <a href="https://github.com/philgiammattei" target="_blank">
      <img src="img/github-logo.png" alt="Github: philgiammattei" />
    </a>
    <a href="https://wears.tigerpajamas.com/@phil" target="_blank">
      <img
        src="img/mastodon-logo.svg"
        alt="Mastodon: @phil@wears.tigerpajamas.com"
      />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
</style>
