---
import Nav from "./Nav.astro";
import MobileNav from "./MobileNav.astro";
import SocialButtons from "./SocialButtons.astro";
---

<!--desktop header-->
<header class="desktop-header">
  <div class="header-container">
    <div class="flex items-center">
      <a href="/"><img src="/img/profile.png" alt="Phil Giammattei" /> </a>
      <a href="/"><h1 class="ml-4 mb-0">Phil Giammattei</h1></a>
    </div>
  </div>
  <SocialButtons />
</header>
<!--mobile header-->
<header class="mobile-header">
  <div class="header-container">
    <a href="/"><img src="/img/profile.png" alt="Phil Giammattei" /> </a>
    <img
      src="/img/hamburger-cream.svg"
      class="hamburger"
      alt="hamburger menu icon"
      onclick="menuToggle()"
    />
  </div>
</header>
<Nav />
<MobileNav />
<script is:inline type="text/javascript">
  function menuToggle() {
    var menu = document.getElementById("mobile-nav");
    const body = document.body;

    if (menu.style.display === "block") {
      menu.style.display = "none";
      body.classList.remove("no-scroll"); // Enable scrolling
    } else {
      menu.style.display = "block";
      body.classList.add("no-scroll"); //disable scrolling
    }
  }
</script>
<style lang="scss">
  @import "../styles/_variables.scss";
  .mobile-header {
    display: none;
  }
  .desktop-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 0;

    a {
      color: $text-color;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
  @media (max-width: 768px) {
    .desktop-header {
      display: none;
    }
    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      margin-bottom: 3rem;
      a {
        color: $text-color;
      }
    }
    img {
      cursor: pointer;
    }
  }
</style>
