---
import Nav from "./Nav.astro";
---

<header>
  <div class="header-container">
    <div class="flex items-center">
      <a href="/"><img src="/img/profile.png" alt="Phil Giammattei" /> </a>
      <a href="/"><h1 class="ml-4 mb-0">Phil Giammattei</h1></a>
    </div>
  </div>
  <div class="socialbuttons">
    <a href="https://www.linkedin.com/in/philgiammattei/" target="_blank">
      <img src="/img/linkedin-logo.png" alt="linkedin: Phil Giammattei" />
    </a>
    <a href="https://github.com/philgiammattei" target="_blank">
      <img src="/img/github-logo.png" alt="Github: philgiammattei" />
    </a>
    <a href="https://wears.tigerpajamas.com/@phil" target="_blank">
      <img
        src="/img/mastodon-logo.svg"
        alt="Mastodon: @phil@wears.tigerpajamas.com"
      />
    </a>
  </div>
</header>
<Nav />
<style lang="scss">
  @import "../styles/_variables.scss";
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 0;

    a {
      color: $text-color;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
</style>
