---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="header-container">
    <div class="image-and-header">
      <a href="index.html"
        ><img src="img/profile.png" alt="Phil Giammattei" />
      </a>
      <h1 class="profile-header">Phil Giammattei</h1>
    </div>
    <a
      href="javascript: void(0);"
      class="icon hamburger"
      onclick="menuToggle()"
    >
      <img
        src="img/hamburger-cream.svg"
        class="hamburger"
        alt="hamburger menu icon"
      />
    </a>
  </div>

  <div class="socialbuttons">
    <a href="https://www.linkedin.com/in/philgiammattei/">
      <img src="img/linkedin-logo.png" alt="linkedin: Phil Giammattei" />
    </a>
    <a href="https://github.com/philgiammattei">
      <img src="img/github-logo.png" alt="Github: philgiammattei" />
    </a>
    <a href="https://twitter.com/philgiammattei">
      <img src="img/twitter-logo.png" alt="twitter @philgiammattei" />
    </a>
  </div>
</header>
<nav id="nav">
  <ul class="main-nav">
    <li><a href="index.html">HOME</a></li>
    <li><a href="about.html">ABOUT</a></li>
    <li><a href="projects.html">PROJECTS</a></li>
    <li><a href="blog.html">BLOG</a></li>
    <li><a href="Contact.html">CONTACT</a></li>
  </ul>
</nav>
<style>
  .image-and-header {
    display: flex;
    align-items: center;
  }
  .header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    display: block;
  }

  .profile-header {
    flex: 2;
  }

  .hamburger {
    max-width: 100px;
    display: block;
    flex: 1;
  }
</style>
