---

---

<div class="socialbuttons">
  <a href="https://www.linkedin.com/in/philgiammattei/" target="_blank">
    <img src="/img/linkedin-logo.png" alt="linkedin: Phil Giammattei" />
  </a>
  <a href="https://github.com/philgiammattei" target="_blank">
    <img src="/img/github-logo.png" alt="Github: philgiammattei" />
  </a>
  <a href="https://wears.tigerpajamas.com/@phil" rel="me" target="_blank">
    <img
      src="/img/mastodon-logo.svg"
      alt="Mastodon: @phil@wears.tigerpajamas.com"
    />
  </a>
</div>
<style type="scss">
  .socialbuttons {
    display: flex;
    justify-content: space-between;
    width: 150px;

    a img {
      height: 30px;
    }
  }
</style>
