---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "img/waveform.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script type="text/javascript">
      function menuToggle() {
        var menu = document.getElementById("mobile-nav");
        const body = document.body;

        if (menu.style.display === "block") {
          menu.style.display = "none";
          body.classList.remove("no-scroll"); // Enable scrolling
        } else {
          menu.style.display = "block";
          body.classList.add("no-scroll"); //disable scrolling
        }
      }
    </script>
  </body>
</html>
