---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/img/waveform.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEKGM0CJGD"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KEKGM0CJGD");
    </script></head
  >
  <!-- Google tag (gtag.js) -->

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script src="https://tinylytics.app/embed/fHteeL9qsyJ5SLDyDSnS.js" defer
    ></script>
  </body>
</html>
